* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: #FFF;
  color: #000;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Eczar", sans-serif;
  font-size: 38pt;
}

h3 {
  font-weight: normal;
}

.shape {
  position: absolute;
  z-index: 0;
  mix-blend-mode: multiply;
}

#shape1 {
  background: #FF3D2E;
  width: 450px;
  height: 450px;
  border-radius: 450px;
}

#shape2 {
  background: #DAEAEF;
  width: 450px;
  height: 450px;
  border-radius: 450px;
}

.grid-container {
  max-width: 1280px;
}

.content {
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
}

#intro {
  display: table;
  position: relative;
  z-index: 1000;
}

#introInner {
  display: table-cell;
  vertical-align: middle;
}

#intro h1 {
  position: relative;
  margin-top: 20px;
}

#introInner h3 {
  margin: 13px 0px 13px 0px;
}

#introInner #contact {
  margin-top: 50px;
}

a {
  color: #000;
}

p {
  font-size: 14pt;
  line-height: 31pt;
  margin-bottom: 38px;
}

@media only screen
and (min-device-width:768px)
and (max-device-width:1024px) {
  .grid-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}